In [1]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
import ast

In [28]:
df = pd.read_csv('./finalData/top_10_filtered_data.csv', encoding='latin1')

In [21]:
df.sample(10)

,clean_text,Tags
477696,adding date filename rollingfileappender file ...,['c#']
70730,azman give different result different server 2...,['c#']
321243,running exported selenium test c webdriver may...,['c#']
71882,display dialogbox text input c possible duplic...,['c#']
65288,dynamic html 3 layer nested quote - im writing...,"['javascript', 'html']"
434056,c xna user input number dealing simple game c ...,['c#']
172166,locate specific serial port following code ret...,['c#']
698761,cant put return reverse ( head.next ) last ins...,['java']
506721,access control allow origin present signalr 2....,['javascript']
1142,visio uml - showing pointer attribute return v...,['c++']

In [27]:
# df['Tags'].sample(100).to_csv("test5.csv")
df['Tags'].sample(4)

601102     ['javascript']
559197         ['python']
319945            ['php']
697846    ['php', 'html']
Name: Tags, dtype: object

In [ ]:
# Convert string to list, df['Tags'] is a string like a json object, so we convert it to python list
df['Tags'] = df['Tags'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

In [30]:
df.head()

                                          clean_text   Tags
0  adding scripting functionality .net applicatio...   [c#]
1  use nested class case working collection class...  [c++]
2  automatically update version number would like...   [c#]
3  connect database loop recordset c whats simple...   [c#]
4  get value built , encoded viewstate need grab ...   [c#]

Now we will do use "Multi-label binarization". This is one hot encoding where each row can have multiple values. (OHE has only one value for each row)

In [31]:
# Multi-label binarization
mlb = MultiLabelBinarizer()
tag_matrix = mlb.fit_transform(df['Tags'])

In [ ]:
print(mlb.classes_) # the name of the columns are here
print(tag_matrix) # this is just a NumPy array of 0s and 1s.

['android' 'c#' 'c++' 'html' 'ios' 'java' 'javascript' 'jquery' 'php'
 'python']
[[0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 1 0]
 [1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [ ]:
# Create a DataFrame for the binary tag matrix (we aer passing the NumPy array (tag_matrix) and the columns (mlb.classes_) )
tag_df = pd.DataFrame(tag_matrix, columns=mlb.classes_)

In [36]:
# tag_df.sample(100).to_csv('test6.csv')
tag_df.sample(2)

        android  c#  c++  html  ios  java  javascript  jquery  php  python
350290        0   0    0     0    0     0           0       0    0       1
671963        0   0    0     0    0     0           1       0    0       0

In [37]:
# Optionally concatenate with the original data, remove Tags and add the Multi-label binarization columns
df_encoded = pd.concat([df.drop(columns=['Tags']), tag_df], axis=1)

In [39]:
df_encoded.head()

,clean_text,android,c#,c++,html,ios,java,javascript,jquery,php,python
0,adding scripting functionality .net applicatio...,0,1,0,0,0,0,0,0,0,0
1,use nested class case working collection class...,0,0,1,0,0,0,0,0,0,0
2,automatically update version number would like...,0,1,0,0,0,0,0,0,0,0
3,connect database loop recordset c whats simple...,0,1,0,0,0,0,0,0,0,0
4,"get value built , encoded viewstate need grab ...",0,1,0,0,0,0,0,0,0,0

In [40]:
# Save to new CSV
df_encoded.to_csv('top_10_tags_encoded.csv', index=False)

In [41]:
df_encoded.head(2).to_csv('test7.csv')